{% extends "layouts/base.twig" %}

{% block content %}
		
	<article id="post-{{ post.ID }}" class="post-type-{{ post.post_type }}" >
		<section class="">
			{{post.content}}

			{# <p class="blog-author">
				<span>By</span><a href="{{post.author.path}}"> {{ post.author.name }} </a><span>&bull;</span> <
			</p> #}
		</section>
	</article>

	<!-- /content-wrapper -->

{% endblock %}
