
{% set recap = post.meta('recap') %}
{% set bck = recap.background_image %}
<section id="bottomLine" class="section-block text-white py-20 h-screen bg-black bg-no-repeat bg-cover page-hook bg-overlay" style="background-image: url('{{ Image(bck).src }}')">
    <div class="container relative">
        <div class="row">
            <div class="md:col-7">
                <div class="py-5 text-white entry">
                    {% include "partial/inc-glyph.twig" %}

                    <h1 class="mb-2 text-5xl font-thin text-white"
                        data-aos="fade-up"
                        data-aos-delay="300"
                        >{{ recap.title }}</h1>
                    <p class="" data-aos="fade-up" data-aos-delay="500">{{ recap.entry }}</p>

                </div>
            </div>

            <div class="row">
                {% for item in recap.recap_items %} 
                    {% set counter = ( counter | default(0) ) + 300 %}
                    <div id="item-{{ loop.index }}" class="sm:col-12 md:col-4"
                        data-aos="fade-up"
                        data-aos-delay="{{counter}}"
                    >
                        
                        <figure class="mb-3">
                            <img src="{{ Image(item.image).src }}" class="w-full max-h-full" alt="">
                        </figure>
                        <p class="text-white">{{item.text}}</p>
                    </div>
                {% endfor %}
            </div>
        </div>
        
    </div>

    {% include "partial/inc-down-arrow.twig" %}
</section> 