<div class="container">
    <hr>
    <section class="team-members py-10">
    {% set members = post.meta('team') %}
        {% for member in members %}
        <div class="row mb-6">
            <div class="sm:col-12 md:col-3">
                <figure class="team-members__profile relative text-white border border-solid border-gray-400 rounded-sm shadow-xs">
                    <img src="https://placehold.it/500" alt="">
                    <a href="#" class="inline-blocck absolute bottom-0 right-0 w-8 h-8 border-solid border-white">
                        {% include "partial/icons/icon-linkedin.svg" %}
                    </a>
                </figure> 
            </div>
            <div class="sm:col-12 md:col-9">
                <h4 class="text-2xl text-bold font-normal mb-4">{{member.full_name}}</h4>

                {% if member.email or member.phone %}
                    <ul class="list-none none flex my-4">
                        <li class="mr-5"><a href="mailto:{{ members.email }}">{{ member.email }}</a></li>
                        <li class="mr-5">{{ member.phone }}</li>
                    </ul>
                {% endif %}

                {{ member.bio }}
            </div>
        </div>
        {% endfor %}
    </section>
</div>