<header id="mainHeader" class="absolute top-0 z-50 w-full header">
    {% block header %}
    <!-- Mobile -->
    {% include "partial/inc-nav-mobile.twig" %}

    <div id="fullHeader" class="header-container z-10 full-header">
        <div class="justify-between row">
            <div class="sm:col-12 md:col-auto flex">
                <h1 class="self-center inline-block px-5 py-2 text-sm font-bold leading-relaxed uppercase whitespace-no-wrap hdr-logo" role="banner">
                    <a class="hdr-logo-link block w-10/12 h-auto" href="{{site.url}}" title="{{site.name}}" rel="home">
                        {% include "partial/icons/icon-logo.svg" %}
                    </a>
                </h1>
            </div>
            {% include "partial/inc-nav-main.twig" %}
        </div>
    </div>
    <div id="smallHeader" class="fixed w-full opacity-0 transition-all duration-1000 ease-in-out small-header">
        <div class="flex justify-between">
            <div class="flex">
                <h1 class="self-center inline-block px-5 text-sm font-bold leading-relaxed uppercase whitespace-no-wrap hdr-logo" role="banner">
                    <a class="hdr-logo-link block w-8" href="{{site.url}}" title="{{site.name}}" rel="home">
                        {% include "partial/icons/icon-glyph.svg" %}
                    </a>
                </h1>
            </div>
            <div class="flex">
                <a href="#" class="text-2xl block px-3 py-2 font-semibold relative border-b border-l rounded-sm">{{ options.phone.toll_free }}</a>
            </div>
        </div>
    </div>

    {% endblock %}
</header>
