<a class='{{color ? color : ' text-white '}} animated-arrow flex' href='{{link}}'>
    <span class="block relative w-4/6">
        <span class='{{ bg ? bg : 'bg-white' }} the-arrow -left'>
            <span class='shaft'></span>
    </span>
    </span>
    <span class='main block ml-4 w-auto'>
        <span class='whitespace-no-wrap mr-3 {{color ? color : 'text-white'}}'>{{title? title : 'Learn More'}}</span>
    <span class='{{ bg ? bg : ' bg-white ' }} the-arrow -right'>
            <span class='{{bg ? bg : 'bg-white'}} {{color ? color : 'bg-white'}} shaft'></span>
    </span>
    </span>
</a>    