{% set address = options.address %}
{% set phone = options.phone %}
{% set street = address.street_address %}
{% set city = address.city %}
{% set state = address.state_province_region %}
{% set zip = address.postal_zip_code %}
{% set country = address.country %}
{% set main = phone.toll_free %}
{% set fax = phone.local %}
<footer class="bg-black">
            <div class="py-5 text-white container-fluid">
                <div class="md:justify-between row">
                    <div class="sm:col-12 md:col-4">
                        <div class="flex items-center text-white">
                            <div class="w-auto md:mr-8">
                                <div class="w-10 h-10">
                                    {% include "partial/icons/icon-glyph.svg" %}    
                                </div>
                            </div>
                            <div class="w-2/3">
                                <p class="text-xs my-0">
                                    <span class="block">{{ street }}</span>
                                     <span class="block">{{ city ~ ', '~ state~ ' ' ~ zip }}</span>
                                </p>
                            </div>
                            <div class="w-2/3">
                                <p class="text-xs my-0">
                                    <span class="block">Phone: {{ main }}</span>
                                     <span class="block">Fax: {{ fax }}</span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="sm:col-12 md:col-4 flex md:justify-end items-center">
                        <ul class="flex m-0 text-sm">
                            <li class="inline-block px-2"><a href="" class="uppercase">Terms of Use</a></li>
                            <li class="inline-block px-2"><a href="" class="uppercase">Privacy Policy</a></li>
                            <li class="inline-block px-2"><a href="#" class="">
                                <a href="#" class="w-4 h-auto block">{% include "partial/icons/icon-linkedin.svg" %}</a>
                            </li>
                            <li class="inline-block px-2">
                                <a href="#" class="w-4 h-auto block">{% include "partial/icons/icon-twitter.svg" %}</a>
                            </li>
                        </ul>
                        {# Copyright {{"now"|date('Y')}} #}
                    </div>
                </div>
            </div>
        </footer>